.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.green-modal {
  background-color: #28a745; /* Verde de Bootstrap */
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.datos input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 7px;
  margin: 5px;
}

.datos button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

.navbar-custom {
  display: flex;
  justify-content: justify;
  align-items: justify;
}

.nav-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.text-white {
  color: white;
  text-decoration: none;
}

.text-white:hover {
  text-decoration: underline;
}
